*{
	box-sizing:border-box;
}

@font-face {
font-family: "DearTom-Regular";
src: url("DearTom-Regular.woff2") format("woff2"),
url("DearTom-Regular.woff") format('woff');
}

body{
	margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:8px;
	color:#ffffff;
	line-height:1.6;
	overflow-x:hidden;
}

.container{
	min-height:100vh;
	min-width:100%;
    margin:auto;
	height:100vh;
	display:flex;
}

.fullscreen-video-wrap{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	overflow:hidden;
}

.fullscreen-video-wrap video{
	min-height:100vh;
	min-width:100%;
	display:flex;
}

.content{
    z-index:2;
	position:absolute;
    padding-left:1rem;
    padding-right:1rem;
	padding-bottom:1rem;
   	color:#ffffff;
}


.header-c h1{
    font-size:1.8rem;
    font-family:"DearTom-Regular", Helvetica, Arial, sans-serif;
   	color:#ffffff;
    letter-spacing:0;
    line-height:90%;
	top:0%;
}

#header-left{
	left:0%;
}

#header-right{
	right:0%;
	text-align:right;
}


.center-c{
	display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
	width:100%;
	height:100%;
}

.center-c p{
    font-size:0.8rem;
}

.links-c{
    bottom:0%;
    left:0%;
}

.links-c p{
    font-size:0.8rem;
}

.icons{
	z-index:2;
	position:absolute;
    bottom:0%;
    right:0%;
    padding-bottom:0.5rem;
    padding-right:1rem;
    width:3.3rem;
}

/*.icons img:hover{
    visibility:hidden;
}
*/

.btn{
    font-size:0.8rem;
   	color:#ffffff;
    text-decoration: none;
}

.btn2{
    color:#ffffff;
    text-decoration: none;
}

.btn:hover{
    color:transparent;
}

.btn2:hover{
    color:transparent;
}
@media(max-width:960px){
	.container{
		padding-right:1rem;
	}
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-video-wrap video{
    width: 100vh;
    min-height: 100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen-video-wrap video{
    min-width: 100%;
    height: 100vh;
  }
}